.header {
  margin-bottom: 10px;
  margin-top: 75px;
  margin-left: 16px;
}

.header-button {
  margin: 3px;
  height: 35px;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
}

.header-button:hover,
.header-button:active {
  background: blue;
  color: white;
}

.header-button:focus {
  outline: none;
}
