.movies {
  margin: auto;
}

.movie {
  display: inline-block;
  width: 25%;
  padding: 16px;
}

.movies-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.movies a {
}

img {
  width: 100%;
}

.genre-list {
  display: inline-block;
  list-style-position: outside;
  padding: 0;
  margin-top: 10px;
}

.score {
  font-weight: bold;
}

.movie li {
  display: inline-block;
  padding-right: 5px;
  font-style: italic;
}
